<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{500,308}</string>
                <key>textureRect</key>
                <string>{{154,560},{64,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>groundhole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,131}</string>
                <key>spriteSourceSize</key>
                <string>{264,131}</string>
                <key>textureRect</key>
                <string>{{1,219},{264,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lasso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,11}</string>
                <key>spriteSize</key>
                <string>{92,284}</string>
                <key>spriteSourceSize</key>
                <string>{500,432}</string>
                <key>textureRect</key>
                <string>{{134,219},{92,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>little snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,12}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{1,581},{151,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{135,53}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{118,505},{135,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>steeltrap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{115,94}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{1,485},{115,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>web.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,216}</string>
                <key>spriteSourceSize</key>
                <string>{250,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barrierAtlas.png</string>
            <key>size</key>
            <string>{254,643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c3a3d67616a678f02320055c4ad2d59:98fec62e279c4f7dcc7120ab6e911c57:45f2cd572758969ff43ccc857fad80d4$</string>
            <key>textureFileName</key>
            <string>barrierAtlas.png</string>
        </dict>
    </dict>
</plist>
