<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{499,420}</string>
                <key>textureRect</key>
                <string>{{293,358},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{499,420}</string>
                <key>textureRect</key>
                <string>{{230,429},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{500,389}</string>
                <key>textureRect</key>
                <string>{{412,0},{142,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exit_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{500,389}</string>
                <key>textureRect</key>
                <string>{{412,142},{142,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{305,428},{75,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{369,288},{75,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>human.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,128}</string>
                <key>spriteSize</key>
                <string>{154,244}</string>
                <key>spriteSourceSize</key>
                <string>{482,786}</string>
                <key>textureRect</key>
                <string>{{0,288},{154,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{139,141}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{154,288},{139,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{137,47}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{465,0},{137,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{137,47}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{465,137},{137,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{524,300}</string>
                <key>textureRect</key>
                <string>{{154,429},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resum_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{524,300}</string>
                <key>textureRect</key>
                <string>{{293,288},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-6}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{438,284},{77,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seting_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-6}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{374,363},{77,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{76,69}</string>
                <key>spriteSourceSize</key>
                <string>{614,379}</string>
                <key>textureRect</key>
                <string>{{443,361},{76,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{76,69}</string>
                <key>spriteSourceSize</key>
                <string>{614,379}</string>
                <key>textureRect</key>
                <string>{{443,437},{76,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>木板.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-24}</string>
                <key>spriteSize</key>
                <string>{412,288}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{412,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonAtlas.png</string>
            <key>size</key>
            <string>{512,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32085d6bd2a7bcd357661d03339d400d:bab78dd283fa6243b264f367009f3ba7:ee15b0baafd5a296c0b2b7731bcd9693$</string>
            <key>textureFileName</key>
            <string>buttonAtlas.png</string>
        </dict>
    </dict>
</plist>
