<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>猴子0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{75,0},{73,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猴子1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{148,0},{73,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猴子2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{73,107}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{221,0},{73,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猴子3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{75,109}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猴子4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-11}</string>
                <key>spriteSize</key>
                <string>{73,107}</string>
                <key>spriteSourceSize</key>
                <string>{677,375}</string>
                <key>textureRect</key>
                <string>{{294,0},{73,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{367,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cb46c2c12d26c35e9d5fda8e9d9e9c8:0f9dc80aa1510dca8dbeb4d50d59a3fd:981299b9bed78a124f7eed7a66b6f893$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
